<!DOCTYPE html>
<html lang="en">

<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header class="">
        <div class="container">
  
          <nav class="navbar navbar-expand-md pt-4" >
      
            <a class="navbar-brand" href="index.html">
              <img src="logo.svg" alt="Logo" style="width:120px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item m-2">
                  <a class="nav-link " href="About.html">About</a>
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link" href="Careers.html">Careers</a>
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link" href="Contact.html">Contact</a>
                </li>
                <li class="nav-item m-2">
                  <a class="nav-link" href="Features.html">Features</a>
                </li>
              </ul>
              <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item mr-2 mb-3 mb-lg-0">
                  <a class="btn btn-light" href="Login.html"> Login</a>
                </li>
                <li class="nav-item mr-2 mb-3 mb-lg-0">
                  <a class="btn btn-light" href="Signup.html"> Signup</a>
  
                </li>
              </ul>
            </div>
          </nav>

      
        </div>
    </header>
    <main class="page-about">
     <div class="container">
         <section class="page-header">
             <h1>About</h1>
             <nav aria-label="breadcrumb">
                 <ol class="breadcrumb foi-breadcrumb">
                     <li class="pr-2">
                         <a href="index.html">Home</a>
                     </li>
                     <li >
                        &#8592 About
                     </li>
                 </ol>
             </nav>
         </section>
         <section class="foi-pages-section pt-0">
             <div class="row main-section-two">
                 <div class="col-md-6 mb-4 mb-md-0 pr-lg-0">
                     <h2 class="section-one-title font-weight-bold">
                        With more apps than iOS, Android puts
                        <span class="font-weight-normal">a world of </br>options at your fingertips.</span>
                     </h2>
                     <div class="section-one-content pt-4 pr-5">
                         <p>
                             Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                             Libero blanditiis quam possimus eveniet! Amet non quaerat est quia,
                              delectus laborum! Totam dignissimos quo maiores error at expedita consectetur fuga nostrum!
                         </p>
                         <p class="mt-5">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Libero blanditiis quam possimus eveniet! Amet non quaerat est quia.
                        </p>
                     </div>
                 </div>
                 <div class="col-md-6 pl-lg-4 d-flex align-items-center align-items-ld-end">
                     <img class="img-fluid" src="about_img_1.png" alt="about" width="448px">
                 </div>
             </div>
         </section>
         <section class="pt-5 ">
             <div class="row main-section-two">
                <div class="col-md-6 pl-lg-0 d-flex align-items-center align-items-ld-end">
                    <img class="img-fluid" src="about_img_2.png" alt="about" width="448px">
                </div>
                <div class="col-md-6 mb-4 mb-md-0 pr-lg-0">
                    <h2 class="section-one-title font-weight-bold">
                       With more apps than iOS, Android puts
                       <span class="font-weight-normal">a world of options at your fingertips.</span>
                    </h2>
                    <div class="section-one-content mt-5">
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Libero blanditiis quam possimus eveniet! Amet non quaerat est quia,
                             delectus laborum! Totam dignissimos quo maiores error at expedita consectetur fuga nostrum!
                        </p>
                    </div>
                </div>
             </div> 

         </section>
         <section class="foi-pages-section mb-5 mt-5">
             <h5 class="text-center font-os mb-0 main-section-two">The amazing team</h5>
             <h2 class=" text-center font-weight-bold team-section-title">Our Creative team</h2>
             <div class="row team-member">
                 <div class="col-md-3 mb-5">
                     <div class="team-member-card">
                         <img class="team-member-avatar"src="user_5.png" alt="team-member">
                         <h6 class="mb-0 font-weight-bold">Athar Malakooti</h6>
                         <p class="team-member-designation">CEO</p>
                     </div>

                 
                 </div>
                 <div class="col-md-3 mb-5">
                    <div class="team-member-card">
                        <img class="team-member-avatar"src="user_6.png" alt="team-member">
                        <h6 class="mb-0 font-weight-bold">Mathijn Agter</h6>
                        <p class="team-member-designation">HR Manager</p>
                    </div>

                
                </div>
                <div class="col-md-3 mb-5">
                    <div class="team-member-card">
                        <img class="team-member-avatar"src="user_7.png" alt="team-member">
                        <h6 class="mb-0 font-weight-bold">Kung Jiyeon</h6>
                        <p class="team-member-designation">Finance Manager</p>
                    </div>

                
                </div>
                <div class="col-md-3 mb-5">
                    <div class="team-member-card">
                        <img class="team-member-avatar"src="user_8.png" alt="team-member">
                        <h6 class="mb-0 font-weight-bold">Jontray Arnold</h6>
                        <p class="team-member-designation">Software Engineer</p>
                    </div>

                
                </div>
             </div>
             <div class="row">
                <div class="col-md-3 mb-5">
                    <div class="team-member-card">
                        <img class="team-member-avatar"src="user_1.png" alt="team-member">
                        <h6 class="mb-0 font-weight-bold">Cardarion Hart</h6>
                        <p class="team-member-designation">CEO</p>
                    </div>

                
                </div>
                <div class="col-md-3 mb-5">
                   <div class="team-member-card">
                       <img class="team-member-avatar"src="user_2.png" alt="team-member">
                       <h6 class="mb-0 font-weight-bold">Gauthier Drewitt</h6>
                       <p class="team-member-designation">HR Manager</p>
                   </div>

               
               </div>
               <div class="col-md-3 mb-5">
                   <div class="team-member-card">
                       <img class="team-member-avatar"src="user_3.png" alt="team-member">
                       <h6 class="mb-0 font-weight-bold " >Labeeba Al Amer</h6>
                       <p class="team-member-designation">Finance Manager</p>
                   </div>

               
               </div>
               <div class="col-md-3 mb-5">
                   <div class="team-member-card">
                       <img class="team-member-avatar"src="user_4.png" alt="team-member">
                       <h6 class="mb-0 font-weight-bold">Onyama Limba</h6>
                       <p class="team-member-designation">Software Engineer</p>
                   </div>

               
               </div>
            </div>
         </section>
     </div>
    </main>
    <footer class="foi-footer text-white ">
        <div class="container ">
          <div class="row footer-content ">
            <div class="col-xl-6 col-lg-7 col-md-8">
              <h2>Do you want to know more or just have a question? write to us.</h2>
    
            </div>
            <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
              <a class="btn btn-danger btn-lg" href="#">Contact form</a>
            </div>
          </div>
          <div class="row footer-widget-area">
            <div class="col-md-3">
              <div class="py-3"><img src="logo-white.svg" alt="Foi"> </div>
              <p>Get our Mobile App</p>
              <div>
                <button class="btn btn-app-download mr-2">
                  <img src="android.svg" alt="App Store">
                </button>
                <button class="btn btn-app-download mr-2">
                  <img src="ios.svg" alt="App Store">
                </button>
              </div>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
              <nav>
                <ul class="nav flex-column">
                  <li class="nav-items" >
                    <a class="nav-link footer-link"  href="">Account</a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">My tasks</a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">Projects</a>
                  </li>
                  <li class="nav-items ">
                    <a class="nav-link footer-link" href="">Edit Profile</a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">Activity</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
              <nav>
                <ul class="nav flex-column">
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">About</a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">Service</a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">Blog</a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">Careers </a>
                  </li>
                  <li class="nav-items">
                    <a class="nav-link footer-link" href="">Shop with us</a>
                  </li>
                </ul>
              </nav>
            </div>
            <div class="col-md-3 mt-3 mt-md-0">
              <p>  © foi. 2020 BootstrapDash.</p>
    
                <p > rights reserved.</p>
                <nav class="social-menu">
              <a  href="#!">
                <img src="facebook.svg"  alt="facebook">
              </a>
              <a href="#!">
                <img src="twitter.svg"  alt="twitter">
              </a>
              <a href="#!">
                <img src="youtube.svg"  alt="youtube">
              </a>
              <a href="#!">
                <img src="instagram.svg"  alt="instagram">
              </a>
            </nav>
            </div>
            
          </div>
    
        </div>
      </footer>
</body>
</html>