<!DOCTYPE html>
<html lang="en">

<head>
  <title>Test</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="./style.css">
</head>
<!-- body -->
<body>
    <header class="landing-heading">
      <div class="container">

        <nav class="navbar navbar-expand-md pt-4" >
    
          <a class="navbar-brand" href="index.html">
            <img src="logo.svg" alt="Logo" style="width:120px;">
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item m-2">
                <a class="nav-link " href="About.html">About</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="Careers.html">Careers</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="Contact.html">Contact</a>
              </li>
              <li class="nav-item m-2">
                <a class="nav-link" href="Features.html">Features</a>
              </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item mr-2 mb-3 mb-lg-0">
                <a class="btn btn-light" href="Login.html"> Login</a>
              </li>
              <li class="nav-item mr-2 mb-3 mb-lg-0">
                <a class="btn btn-light" href="Signup.html"> Signup</a>

              </li>
            </ul>
          </div>
        </nav>
        <div class="row">
          <div class=" text-black col-md-6" id="head-text">
            <h1 class="font-weight-bold ">Great app that makes </br>your life awesome</h1>
            <p>He has led a remarkable campaign, defying the traditional mainstream</br> parties courtesy of his En Marche!
              movement.</p>
              <button type="button" class="btn head-button btn-primary">Get Started</button>
          </div>
    
          <div class="col-md-6 mb-5"  id="head-img">
            <img src="app_1.png" alt="Cinque Terre" height="470px" width="350px">
          </div>
        </div>
    
      </div>
  </header>
  
  <section class="py-5 mb-5">
    <div class="container">
      <h2 class="section-title text-black font-weight-bold mt-5" >Application Features</h2>
      <div class="row mt-5">
        <div class="col-lg-4 mb-4   mb-lg-0">
          <h5 class="text-black font-weight-bold">Secure Data</h5>
          <p class="text-dark mb-5" >
            No matter what kind of home you have to share, you can increse your earning.
          </p>
          <h5 class="text-black font-weight-bold">Secure Data</h5>
          <p class="text-dark mb-5">
            No matter what kind of home you have to share, you can increse your earning.
          </p>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" >
          <h5 class="text-black font-weight-bold">Secure Data</h5>
          <p class="text-dark mb-5">
            No matter what kind of home you have to share, you can increse your earning.
          </p>
          <h5 class="text-black font-weight-bold">Secure Data</h5>
          <p class="text-dark mb-5">
            No matter what kind of home you have to share, you can increse your earning.
          </p>
        </div>
        <div class="col-lg-4 mb-4 mb-lg-0" >

        </div>
      </div>
    </div>

  </section>

<section class="py-5 mb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <img src="app_2.png" alt="Cinque Terre" height="450px" width="492px">
        </div>
        <div class="col-lg-6">
          <h2 class="text-black font-weight-bold">Get special offers on the things you love</h2>

          <p class="mb-5">He has led a remarkable campaign, defying the traditional mainstream parties
            courtesy of his En Marche! movement. For many, however, the campaign has become
            less about backing Macron and instead about voting against Le Pen, the National Front candidate.</p>
          <div class="row">
            <div class="col-md-6 mb-5">
              <h3 class="text-black font-weight-bold">Essentials</h3>
              <p>All the basics for businesses that are just getting started.</p>
            </div>
            <div class="col-md-6 mb-3">
              <h3 class="text-black font-weight-bold">Premium</h3>
              <p>All the basics for businesses that are just getting started.</p>
            </div>
            <div class="col-md-6 mb-3">
              <h3 class="text-black font-weight-bold">Standard</h3>
              <p>All the basics for businesses that are just getting started.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <section class="py-5 mb-5">
    <div class="container">
      <h3 class="font-weight-bold">Choose the plan that’s right for yor business</h3>

        <p class="">Thank you for your very professional and prompt response. I wished I had found you before </p>
        <div class="row mt-5">
          <div class="col-lg-4 mb-4">
            <div class="card pricing-card border-warning">
              <div class="card-body mt-5">
                <h4 class="mb-1 font-weight-bold">Starter</h4>
                <h4 class="mb-1 text-warning font-weight-bold mt-3">Free</h4>
                <p class="small">Per month</p>
                <p class="mb-4 "> Thanks you for your proffessional and prompt response</p>
                <button class="btn btn-outline-warning btn-rounded ">Get Statted</button>


              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card pricing-card popular border-warning">
              <div class="card-body mt-5">
                <h4 class="mb-1 font-weight-bold">Popular</h4>
                <i class="fa fa-inr price popular" style="font-size:24px" ></i>
                <h4 class="mb-1 text-warning price font-weight-bold mt-3 popular">500</h4>
                <p class="small">Per month</p>
                <p class="mb-4 "> Thanks you for your proffessional and prompt response</p>
                <button class="btn btn-outline-success  btn-rounded ">Get Started</button>


              </div>
            </div>
          </div>


          <div class="col-lg-4 mb-4">
            <div class="card pricing-card Enterprise border-warning">
              <div class="card-body mt-5">
                <h4 class="mb-1 font-weight-bold">Enterprise</h4>
                <i class="fa fa-inr price Enterprise" style="font-size:24px" ></i>
                <h4 class="mb-1 text-warning Enterprise font-weight-bold mt-3 price" >800</h4>
                <p class="small">Per month</p>
                <p class="mb-4 "> Thanks you for your proffessional and prompt response</p>
                <button class="btn btn-outline-primary btn-rounded ">Get Statted</button>


              </div>
            </div>
          </div>
          
          
          
        </div>
    </div>
  </section>

  <section class="py-5 mb-5">
    <div class="container">
      <h3 class="font-weight-bold">Satisfied Users</h3>
      <p class="text-muted mb-5"> Thanks you for your very Proffessional and prompt response .I wished I had found you before</p>
      <div class="row pt-5">
        <div class="col-md-4 foi-review mb-5 mb-md-0">
          <div class="foi-rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <h6 class="font-weight-bold">Great support available</h6>
          <p>Thank you for your very professional and prompt response. I wished I had found you before I spent money on a competitors theme.</p>
          <div class="media foi-review-content">
            <img class="avatar" src="avatar_12.jpg" alt="user">
            <div class="media-body mx-3">
              <h6 class="mb-0 font-weight-bold small">viwek ranjan</h6>
              <p class="small">UX Designer</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 foi-review mb-5 mb-md-0">
          <div class="foi-rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <h6 class="font-weight-bold">Great support available</h6>
          <p>Thank you for your very professional and prompt response. I wished I had found you before I spent money on a competitors theme.</p>
          <div class="media foi-review-content">
            <img class="avatar" src="avatar_12.jpg" alt="user">
            <div class="media-body mx-3">
              <h6 class="mb-0 font-weight-bold small">viwek ranjan</h6>
              <p class="small">UX Designer</p>
            </div>
          </div>

        </div>
        <div class="col-md-4 foi-review mb-5 mb-md-0">
          <div class="foi-rating">
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <h6 class="font-weight-bold">Great support available</h6>
          <p>Thank you for your very professional and prompt response. I wished I had found you before I spent money on a competitors theme.</p>
          <div class="media foi-review-content">
            <img class="avatar" src="avatar_12.jpg" alt="user">
            <div class="media-body mx-3">
              <h6 class="mb-0 font-weight-bold small">viwek ranjan</h6>
              <p class="small">Developer</p>
            </div>
          </div>

        </div>
        

      </div>
    </div>
  </section>

  <section class="py-5 mb -5">
    <div class="container">
      <h3 class="font-weight-bold">FAQ</h3>
      <p class="mb-5">Frequently Asked Questions</p>
      <div class="row ">
        <div class="col-lg-6">
          <div class="card mb-3 card-faq ">
            <P class="mx-2 my-2 font-weight-bold">What is Foi app?<i class=' fas fa-arrow-circle-down icon-faq' data-toggle="collapse" data-target="#Foi-app"></i></P>
            <div id="Foi-app" class="collapse ml-2">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div> 
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3 card-faq ">
            <P class="mx-2 my-2 font-weight-bold">Who will see my updates?<i class=' fas fa-arrow-circle-down icon-faq' data-toggle="collapse" data-target="#updates"></i></P>
            <div id="updates" class="collapse">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div> 
          </div>
        </div>

            
            
 
          
          
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3 card-faq ">
            <P class="mx-2 my-2 font-weight-bold">How can I use Foi app?<i class=' fas fa-arrow-circle-down icon-faq' data-toggle="collapse" data-target="#Foi"></i></P>
            <div id="Foi" class="collapse ml-2">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div> 
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3 card-faq ">
            <P class="mx-2 my-2 font-weight-bold">Can people see my connections?<i class=' fas fa-arrow-circle-down icon-faq' data-toggle="collapse" data-target="#people"></i></P>
            <div id="people" class="collapse">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3 card-faq ">
            <P class="mx-2 my-2 font-weight-bold">Why should I use Foi app?<i class=' fas fa-arrow-circle-down icon-faq' data-toggle="collapse" data-target="#use-Foi"></i></P>
            <div id="use-Foi" class="collapse ml-2">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div> 
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3 card-faq ">
            <P class="mx-2 my-2 font-weight-bold">Can people see my connections?<i class=' fas fa-arrow-circle-down icon-faq' data-toggle="collapse" data-target="#connections"></i></P>
            <div id="connections" class="collapse">
              Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
               when an unknown printer took a galley of type and scrambled it to make a type specimen book.
            </div> 
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer class="foi-footer text-white ">
    <div class="container ">
      <div class="row footer-content ">
        <div class="col-xl-6 col-lg-7 col-md-8">
          <h2>Do you want to know more or just have a question? write to us.</h2>

        </div>
        <div class="col-md-4 col-lg-5 col-xl-6 py-3 py-md-0 d-md-flex align-items-center justify-content-end">
          <a class="btn btn-danger btn-lg" href="#">Contact form</a>
        </div>
      </div>
      <div class="row footer-widget-area">
        <div class="col-md-3">
          <div class="py-3"><img src="logo-white.svg" alt="Foi"> </div>
          <p>Get our Mobile App</p>
          <div>
            <button class="btn btn-app-download mr-2">
              <img src="android.svg" alt="App Store">
            </button>
            <button class="btn btn-app-download mr-2">
              <img src="ios.svg" alt="App Store">
            </button>
          </div>
        </div>
        <div class="col-md-3 mt-3 mt-md-0">
          <nav>
            <ul class="nav flex-column">
              <li class="nav-items" >
                <a class="nav-link footer-link"  href="">Account</a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">My tasks</a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">Projects</a>
              </li>
              <li class="nav-items ">
                <a class="nav-link footer-link" href="">Edit Profile</a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">Activity</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3 mt-3 mt-md-0">
          <nav>
            <ul class="nav flex-column">
              <li class="nav-items">
                <a class="nav-link footer-link" href="">About</a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">Service</a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">Blog</a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">Careers </a>
              </li>
              <li class="nav-items">
                <a class="nav-link footer-link" href="">Shop with us</a>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-md-3 mt-3 mt-md-0">
          <p>  © foi. 2020 BootstrapDash.</p>

            <p > rights reserved.</p>
            <nav class="social-menu">
          <a  href="#!">
            <img src="facebook.svg"  alt="facebook">
          </a>
          <a href="#!">
            <img src="twitter.svg"  alt="twitter">
          </a>
          <a href="#!">
            <img src="youtube.svg"  alt="youtube">
          </a>
          <a href="#!">
            <img src="instagram.svg"  alt="instagram">
          </a>
        </nav>
        </div>
        
      </div>

    </div>
  </footer>

              


              
            
         



</body>

</html>